.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  /* background-color: #333; */
  display: flex;
  justify-content: space-around;
}

#navbar a {
  float: left;
  display: block;
  color: #38455c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  /* background-color: #04AA6D; */
  color: #335eea;
  font-weight: bold;
  font-size: 2rem;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.nav_button {
  color: white;
  background-color: #335eea;
  border: none;
  /* padding: 0.5rem; */
  border-radius: 6px;
  width: auto;
  margin-top: 0.5rem;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .nav_button {
    width: auto;
    height: auto;
    margin: 1rem;
    /* padding-bottom: 2rem; */
  }
}
